<launch>
  <!-- Instrumentation-only wrapper. Original stack and all motion settings stay unchanged. -->
  <arg name="world_name" default="tunnel"/>
  <arg name="gazebo_seed" default="11"/>
  <arg name="vehicleX" default="0"/>
  <arg name="vehicleY" default="0"/>
  <arg name="terrainZ" default="0"/>
  <arg name="vehicleYaw" default="0"/>
  <arg name="rviz" default="false"/>
  <arg name="vis_tools" default="false"/>
  <arg name="gazebo_gui" default="false"/>
  <param name="/vehicleSimulator/record_native_scan_sources" type="bool" value="true"/>
  <include file="$(dirname)/../../gate5/roslaunch/system_seeded.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="gazebo_seed" value="$(arg gazebo_seed)"/>
    <arg name="vehicleX" value="$(arg vehicleX)"/>
    <arg name="vehicleY" value="$(arg vehicleY)"/>
    <arg name="terrainZ" value="$(arg terrainZ)"/>
    <arg name="vehicleYaw" value="$(arg vehicleYaw)"/>
    <arg name="rviz" value="$(arg rviz)"/>
    <arg name="vis_tools" value="$(arg vis_tools)"/>
    <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
  </include>
</launch>
